<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{customTitle}} Feel Posts</title>
  <link rel="icon" href="/static/Premium Vector _ Panda monogram logo.jpg" />
  <link rel="stylesheet" href="/static/normalize.css" />
  <link rel="stylesheet" href="/static/main.css" />
</head>