<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพส์สำเร็จ | '}}

<body>
    {{> siteHeader}}
    <section class="section">
        <div class="container">
            <h3>สร้างโพส์สำเร็จ</h3>
            <p>โพสจะปรากฎอยู่หน้าแรกของเว็บไซต์</p>
            <a href="/" class="button">กลับไปหน้าแรก</a>
        </div>
    </section>
    {{> siteFooter}}
</body>

</html>
